{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<style>
	ul.items > li > a {
    display: inline-flex;
}
</style>
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in venues %}
			{% if area.city == venue.city %}
			<li>
				<a href="/venues/{{ venue.id }}">
					<i class="fas fa-music"></i>
					<div class="item">
						<h5>{{ venue.name }}</h5>
					</div>
				</a>
				&nbsp;				
				<a href="/venues/{{ venue.id }}/edit"><i class="fas fa-pen"></i></a>
				<button class="delete-button" data-id="{{ venue.id }}">&cross;</button>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endfor %}
<script>
	let deleteBtns = document.querySelectorAll('.delete-button');
	for (let i = 0; i < deleteBtns.length; i++) {
		let deleteBtn = deleteBtns[i];
		deleteBtn.onclick = function (e) {
			const venueId = e.target.dataset['id'];
			fetch('/venues/' + venueId, {
				method: 'DELETE'
			});
		}
	}
</script>
{% endblock %}